{% extends 'base.html' %}

{% block content %}
<div class="container border rounded bg-white">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h3 class="text-center mb-4">Ajouter un Evenement - Match</h3>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="match_event" class="form-label">Match :</label>
            <input type="text" class="form-control" name="match_event" id="match_event" placeholder="Ex.: Real Madrid vs Manchester City">
          </div>
  
          <div class="mb-3">
            <label for="date_event" class="form-label">Date :</label>
            <input type="date" class="form-control" name="date_event" id="date_event" required>
          </div>
  
          <div class="mb-3">
            <label for="lieu_event" class="form-label">Lieu :</label>
            <input type="text" class="form-control" name="lieu_event" id="lieu_event" placeholder="Ex.: Stade Santiago-Bernabéu">
          </div>
  
          <div class="mb-3">
            <label for="organisateur_event" class="form-label">Organisateur :</label>
            <div class="form-check">
              {% for org in organisateurs %}
                <input class="form-check-input" type="radio" name="organisateur_event" id="{{org.categorie}}" value="{{org.categorie}}">
                <label class="form-check-label" for="{{org.categorie}}">{{org.categorie}}</label>
                <br>
              {% endfor %}
            </div>
          </div>
  
          <div class="mb-3">
            <label for="image_event" class="form-label">Image :</label>
            <input type="file" name="image_event" accept=".png" class="form-control">
          </div>
  
          <button type="submit" class="btn btn-primary btn-block mt-4">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
  

{% endblock %}
